<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="App" type="Application" factoryName="Application">
    <envs>
      <env name="COSTSPLIT_SECRET" value="1234" />
    </envs>
    <option name="MAIN_CLASS_NAME" value="io.github.costsplit.app.App" />
    <module name="app" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>